.sidebar_tw_btn {
    background-color: var( --main-color)!important; 
    border: none !important;
    color: white ;
    /* font-weight: 900 !important;  */
    border-radius: 30px !important;
    /* width:  350px ; */

    /* padding-right: 150px ; */   

  }

