*~
*.sw[mnpcod]
*.log
*.tmp
.tmp.
log.txt
*.sublime-project
.sublime-workspace
.vscode/
npm-debug.log
.env
uploads/images/*
!uploads/images/.gitkeep
uploads/videos/*
!uploads/videos/.gitkeep

dist/
node_modules/
tmp/
temp/
$RECYCLE.BIN/
.DS_Store
postgres_dev/

