:root {
  --main-color: #1da1f2;
  --main-black: #14171a;
  --dark-grey: #657786;
  --light-grey: #ccdad4;
  --extra-light: #e1e8ed;
  --optimum-light: #e9ecee;
  --super-light: #f5f8fa;
  --disable-btn: #93cdf6;
}