.main-container {
  display: grid;
  grid-template-columns: 0.7fr 1.4fr 0.9fr;
  padding-right: 260px;
  padding-left: 260px;
}
.sb-left {
  grid-column: 1 / 2;
}
.wall {
  grid-column: 2 / 3;
}
.sb-right {
  grid-column: 3 / 4;
}
