.p--light-color {
  color: var(--dark-grey);
  font-size: 15px;
}
.p--main-color {
  color: var(--main-color);
}

.tweet-box {
  font-size: 17px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0px 15px 0px 15px;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  cursor: pointer;
  border-bottom: solid 0.5px var(--extra-light);
  min-height: 90px;
  padding-top: 10px;
}
.tweet-icon img {
  max-width: 53px;
  max-height: 53px;
  border-radius: 50%;
}
.tweet-aside {
  height: 100%;
}
/* .tweet-icon {
} */

.tweet-content {
  padding: 4px;
  font-weight: 400;
}
/* slove word without space pb */
.tweet-content > p {
  word-break: break-word;
}

.tweet-data {
  display: flex;
  flex-direction: row;
}
.tweet-ellipsis {
  cursor: pointer;
  margin-left: auto;
}

.tweet-toolbar {
  /* height: 30%; */
  /* font-size: 18px; */
  margin: 5px 50px 5px 0px;
  display: flex;
  justify-content: space-between;
}
.tweet-toolbar i {
  /* font-size: 18px; */
  padding: 5px 5px 5px 5px;
}
.tweet-text {
  font-size: 22px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: #0f1419;
}
