.p--light-color {
  color: var(--dark-grey);
}
.p--main-color {
  color: var(--main-color);
}

.tweet-box {
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif;
  padding: 0px 15px 0px 15px;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
}

.tweet-icon{
  width: 50px;
  height: 50px;
   border-radius: 50%;
  object-fit:cover;
   flex-shrink:0
}

.tweet-small-icon{
  width: 30px;
  height: 30px;
   border-radius: 50%;
  object-fit:cover;
   flex-shrink:0
}

.tweet-small-icon img,
svg {
  width: 30px;
  height: 30px;
}

.tweet-icon img,
svg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit:cover;
}

.tweet-aside {
  height: 100%;
}

.tweet-content {
  padding: 2px;
  font-weight: 400;
}

/* slove word without space pb */
.tweet-content > p {
  word-break: break-word;
}


.tweet-ellipsis {
  cursor: pointer;
  margin-left: auto;
}

.tweet-toolbar {
  /* height: 30%; */
  /* font-size: 18px; */
  margin: 0px 30px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.tweet-toolbar i {
  /* font-size: 18px; */
  padding: 5px 5px 5px 5px;
}
.tweet-text {
  font-size: 22px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: #0f1419;
}
