.pf--avatar-edit{
  position: absolute;
  height: 180px;
  width: 180px;
   border-radius: 50%;
   border-style: solid;
  border-width: 4px;
  border-color: #fff;
  margin: 16px;
  margin-top: -75px;
  z-index: 1000;
  overflow: hidden;
  display: grid;
  place-items: center;
}